#profile{
  background-size: cover;
  width: 100%;
  height: 100%;
}
.profile {
  background-color: #1a2a40;
  color: #396090;
  font-weight: bolder;
  margin: 0 auto;
 width: 90%;
 height: 80%;
  align-content: center;
  text-align: center;
}
.profile li{
  color:#b890c1;
}
.avatar{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 6%;
  margin-right: 6%;
  width: 25%;
  height: auto;
  float: left;
}
section{
  display: grid;    
}
.info{
  float:right;
  width: 55%;
  height: auto;
}
.bio{
  width: 100%;
  height: auto;
}
.info h3{
  color: #9b3ca2;
}
.buttons{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}
.buttons img{
  width:  50%;
  height: 100%;
}
.skillsContainer{
  display:flex;
  justify-content: center;

}
.softSkills{
  float: left;
  width: auto;
  height: 48%;
}
.technicalSkills{
  float: left;
  width: auto;
  height: 48%;
}
.profile, .avatar, .info, .skillsContainer {
  border-color: white;
  border-style: groove;
}