#contact{
    background-size: cover;
    width: 100%;
  }
.ContactMain{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ContactBox {
    background-color: #1a2a40;
    display: flex;
    text-align: start;
    width: 50%;
    height: fit-content;
	margin-top: 0%;
	margin-left: 25%;
    margin-right: 25%;
    font-family: ArcadeClassic;
  font-size: 130%;
  border-color: white;
  border-style: double;
  justify-content: center;
  align-items: center;
}
.ContactBox img {
	width: 20%;
    height: 20%;
}