.ContactMain{
    margin: 0 auto;
    max-width: fit-content;
    max-height: fit-content;
    height: auto;
    min-width: fit-content;
    text-align: center;
}
.ContactBox {
    background-color: #1a2a40;
    text-align: start;
	margin-top: 0%;
	margin-left: 30%;
    margin-right: 30%;
    font-family: ArcadeClassic;
  font-size: 150%;
  border-color: white;
  border-style: groove;
}
.ContactBox img {
	width: 15%;
    height: 15%;
    margin-right: 5%;
}