body {
	background: url('../Images/galaxy.png');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

@font-face {
	font-family: 'Lazer84';
	src: url('../Lazer84.ttf');
}
@media only screen and (orientation: portrait) {
	#Alert {
		display: block;
		justify-content: center;
		align-items: center;
		margin-top: 30%;
		width: 100%;
		height: 100%;
	}
	.Home {
		display: none;
	}
}
@media only screen and (orientation: landscape) {
	#Alert {
		display: none;
	}
	#Background {
		background-size: cover;
		width: 100%;
		align-items: center;
	}
	.Home {
		display: block;
		margin-top: 5%;
		margin-bottom: 5%;
		margin-right: 10%;
		margin-left: 10%;
		width: 80%;
	}
	#Name {
		display: flex;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}
	#Select {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		height: 50%;
	}
	#Language {
		display: flex;
		justify-content: center;
	}
	.btnLanguage {
		width: 20%;
		height: 100%;
	}
}
