#skills{
    background-size: cover;
    width: 100%;
  }

.skillsContainer {
	background-color: #1a2a40;
    display: flex;
    width: 80%;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-color: white;
    border-style: double;
    justify-content: center;
    align-items: center;
}
.skillsContainer h3 {
    color: #9b3ca2;
    font-family: ArcadeClassic;
    font-size: 150%;
}
.skillsContainer li{
    color:#b890c1;
    font-weight: bolder;
    font-size: 120%;
  }
.softSkills {
	float: left;
	width: 50%;
}
.technicalSkills {
	float: left;
	width: 50%;
}
