@font-face {
  font-family: ArcadeClassic;
  src: url('./arcadeclassic.regular.ttf');
}
  
html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

li, Link, ul {
  color: aqua;
}
.Menu{
  background-color:#1c2848;
  height: 15%;
  width: 100%;
	left: 0;
	top: 0;
  position: fixed;
}  
.Menu li{
  display:inline;
  padding-left:3%;
  padding-right:3%;
  font-family: ArcadeClassic;
  font-size: 130%;
}
#avy{
  height: 5%;
  width: 5%;
  border-radius:2.5%;
}
.content{
  height:100%;
  width: 100%;
  position: absolute;
  padding-top: 12%;
  padding-bottom: 10%;
  background: url('./Components/Images/galaxy2.png');
  background-size: cover;
  background-position:  center center;
  background-attachment: fixed;
}