@font-face {
  font-family: ArcadeClassic;
  src: url('./arcadeclassic.regular.ttf');
}
  
html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

li, Link, ul {
  color: aqua;
}
.Menu{
  background-color:#1c2848;
  height: 15%;
  width: 100%;
	left: 0;
	top: 0;
  position: fixed;
  border-bottom-color: white;
  border-bottom-style: double;
  justify-content: center;
	align-items: center;
}  
.Menu li{
  display:inline;
  padding-left:2%;
  padding-right:2%;
  font-family: ArcadeClassic;
  font-size: 2.5vw;
}
.content{
  height: max-content;
  width: 100%;
  position: absolute;
  padding-top: 12%;
  padding-block: 10%;
  border-bottom: 5%;
  background: url('./Components/Images/galaxy2.png');
  background-size: cover;
  background-position:  center center;
  background-attachment: fixed;
}